{% extends "../changelist.html" %}
{% load i18n %}
{% load pbs_utils %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'prescription:prescription_list' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'prescription:prescription_home' prescription.id %}">{{ prescription.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'report:prescription_day_state_update' prescription.id %}">Part B</a> <span class="divider">/</span></li>
  <li>Section B1 &#x2010; Pre-burn Actions</li>
</ul>
{% endblock %}

{% block pretitle %}
<ul class="nav nav-tabs" style="margin-bottom:2px">
    <li><a href="{% url 'risk:context_update' prescription.id %}"><i class="icon-legal"></i> Risk management context statement</a></li>
    <li><a href="{% url 'stakeholder:criticalstakeholder_changelist' prescription.id  %}"><i class="icon-user"></i> Critical stakeholders</a></li>
    <li class="active"><a href="{% url 'risk:prescription_action_changelist' prescription.id %}"><i class="icon-legal"></i> Actions</a></li>
    <li><a href="{% url 'risk:prescription_register_changelist' prescription.id %}"><i class="icon-warning-sign"></i> Risk Register</a></li>
</ul>
<ul id="actionnav" class="nav nav-pills">
    <li><a href="{% url 'risk:prescription_action_changelist' prescription.id %}"><i class="icon-list-ol"></i>Plan actions</a></li>
    <li><a href="{% url 'risk:prescription_preburn_action_changelist' prescription.id %}"><i class="icon-tasks"></i>Pre-burn actions</a></li>
    <li><a href="{% url 'risk:prescription_dayofburn_action_changelist' prescription.id %}"><i class="icon-legal"></i>Day of burn actions</a></li>
    <li class="active"><a href="{% url 'risk:prescription_postburn_action_changelist' prescription.id %}"><i class="icon-warning-sign"></i>Post-burn actions</a></li>
</ul>
{% endblock %}

{% block content_title %}
<div class="row">
    <div class="span12" >
	<h1>Actions Report
           <a href="{% url 'document:prescription_taggeddocument_add' prescription.id 189 %}?nexturl={% url 'risk:prescription_postburn_action_changelist' prescription.id %}" class="pull-right btn btn-info btn-small"><b><i class="icon-plus"></i> Upload Post Burn Actions List</b></a>
	</h1>
	<h5><a class="btn btn-small btn-info" href=""><i class="icon-download-alt"></i> Download the Pre Burn Actions List template</a></h5>
        {% include "document/includes/document_list.html" with document_type="Post Burn Actoions List" %}
        <h1>{{ title }}
            <a href="{% url 'risk:prescription_risk_create' prescription.id %}" class="pull-right btn btn-small btn-info"><i class="icon-plus"></i> Add source of risk</a>
        </h1>
    </div>
</div>
{% endblock %}

{% block list_content %}
    <table id="{{listform.model_name_lower}}_result_list" class="table table-striped table-condensed table-hober table-fixed-header">
        <thead>
            <tr>
                {% for field in listform.boundfields %}
                {% if field.name != 'factor' %}
                {% call_method field "html_header" "<th{attrs}><div class=\"text\"> {label}</div></th>"%}
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for form in listform %}
            {% if category != form.instance.risk.category %}
            <tr>
                <td colspan="{{listform.boundfieldlength}}">{{form.risk__category}}</td>
            </tr>
            {% setvar form.instance.risk.category as category %}
            {% endif %}
            <tr> 
                {% for field in form.boundfields %}
                    {% if field.name == 'sub_factor' %}
                    {% call_method field "html" "<td{attrs}><span style='padding-left:20px'>{widget}</span></td>"%}
                    {% elif field.name != 'factor'%}
                    {% call_method field "html" "<td{attrs}>{widget}</td>"%}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block rightpanel %}
<div class="span3">
  <h5>Filter</h5>
  {% url 'risk:prescription_action_changelist' prescription.id as actionurl %}
  <ul class="nav nav-list">
    <li class="nav-header">BY ACTION RELEVANT</li>
    <li {% if listform.fullpath == actionurl %}class="active"{% endif %}><a href="{{actionurl}}">All</a></li>
    {% for relevant in relevantlist %}
    {% setvar actionurl '?relevant=' relevant.0|urlencode as filterurl %}
    <li  {% if listform.fullpath == filterurl %}class="active"{% endif %}><a href="{{filterurl}}">{{relevant.1}}</a></li>
    {% endfor %}
  </ul>
  <br>
  <ul class="nav nav-list">
    <li class="nav-header">BY CATEGORY</li>
    <li {% if listform.fullpath == actionurl %}class="active"{% endif %}><a href="{{actionurl}}">All</a></li>
    {% for category in categorylist %}
    {% setvar actionurl '?category=' category.id|urlencode as filterurl %}
    <li  {% if listform.fullpath == filterurl %}class="active"{% endif %}><a href="{{filterurl}}">{{category.name}}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
