{% extends "../changelist_2panels.html" %}
{% load i18n %}
{% load pbs_utils %}

{% block content_title %}
{{block.super}}
<div class="span9">
<p id="max_complexity">Maximum rating: <strong>{{prescriptionform.maximum_complexity}}</strong></p>
</div>
{% endblock %}
{% block breadcrumbs %}

<ul class="breadcrumb">
  <li><a href="{% url 'prescription:prescription_list' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'prescription:prescription_home' prescription.id %}">{{ prescription.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="% url 'report:prescription_pre_state_update' object.id %}">Part A</a> <span class="divider">/</span></li>
  <li>Section A5 &#x2010; Prescribed Burn Complexity Analysis Summary</li>
</ul>

{% endblock %}



{% block list_content %}
    <table id="{{listform.model_name_lower}}_result_list" class="table table-striped table-condensed table-hober table-fixed-header">
        <thead>
            <tr>
                {% for field in listform.boundfields %}
                {% if field.name != 'factor' %}
                {% call_method field "html_header" "<th{attrs}><div class=\"text\"> {label}</div></th>"%}
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for form in listform %}
            {% if factor != form.factor.value %}
            <tr>
                <td colspan="{{4}}">{{factor}} -- {{form.factor}}</td>
            </tr>
            {% setvar form.factor.value as factor %}
            {% endif %}
            <tr> 
                {% for field in form.boundfields %}
                    {% if field.name == 'sub_factor' %}
                    {% call_method field "html" "<td{attrs}><span style='padding-left:20px'>{widget}</span></td>"%}
                    {% elif field.name != 'factor'%}
                    {% call_method field "html" "<td{attrs}>{widget}</td>"%}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
{% block rightpanel %}
<div class="span3">
  <h5>Filter</h5>
  <ul class="nav nav-list">
    <li class="nav-header">By factor</li>
    {% url 'risk:prescription_complexity_changelist' prescription.id as complexityurl %}
    <li {% if listform.fullpath == complexityurl %}class="active"{% endif %}><a href="{{complexityurl}}">All</a></li>
    {% for factor in factorlist %}
    {% setvar complexityurl '?factor=' factor|urlencode as filterurl %}
    <li  {% if listform.fullpath == filterurl %}class="active"{% endif %}><a href="{{filterurl}}">{{factor}}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
