{% extends "../changelist.html" %}
{% load i18n %}
{% load pbs_utils %}

{% block content_title %}
{{block.super}}
<div class="span9">
<p id="max_register">Maximum rating: <strong>{{prescriptionform.maximum_register}}</strong></p>
</div>
{% endblock %}
{% block breadcrumbs %}

<ul class="breadcrumb">
  <li><a href="{% url 'prescription:prescription_list' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'prescription:prescription_home' prescription.id %}">{{ prescription.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="% url 'report:prescription_pre_state_update' object.id %}">Part A</a> <span class="divider">/</span></li>
  <li>Section A6 &#x2010; Prescribed burn risk register</li>
</ul>

{% endblock %}

