{% extends "../change_form.html" %}
{% load i18n %}
{% load admin_urls %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'prescription:prescription_list' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'prescription:prescription_home' prescription.id %}">{{ prescription.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'report:prescription_day_state_update' prescription.id %}">Part B</a> <span class="divider">/</span></li>
  <li><a href="{% url 'implementation:prescription_lightingsequence_list' prescription.id %}">Section B5 &#x2010; Lighting sequence</a> <span class="divider">/</span></li>
  <li>Add</li>
</ul>
{% endblock %}

