{% extends "../list.html" %}
{% load i18n %}
{% load pbs_utils %}

{% block content_title %}
<div class="row">
    <div class="span12" >
	<h1>Checklist Report
            <span class="pull-right">
	    <a class="btn btn-small btn-info" href=""><i class="icon-download-alt"></i> Download the Briefing Checklist template</a>
           <a href="{% url 'document:prescription_taggeddocument_add' prescription.id 182 %}?nexturl={% url 'prescription:prescription_briefingchecklist_list' prescription.id %}" class="btn btn-info btn-small"><b><i class="icon-plus"></i> Upload Briefing Checklist</b></a>
            </span>
        </h1>
        {% include "document/includes/document_list.html" with document_type="Briefing Checklist" %}
    </div>
</div>
{{block.super}}
{% endblock %}


{% block breadcrumbs %}

<ul class="breadcrumb">
  <li><a href="{% url 'prescription:prescription_list' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'prescription:prescription_home' prescription.id %}">{{ prescription.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="% url 'report:prescription_day_state_update' prescription.id %}">Part B</a> <span class="divider">/</span></li>
  <li>Section B8 &#x2010; Briefing Checklist</li>
</ul>

{% endblock %}



{% block list_content %}
    <table id="{{listform.model_name_lower}}_result_list" class="table table-striped table-condensed table-hober table-fixed-header">
        <thead>
            <tr>
                {% for field in listform.boundfields %}
                {% if field.name != 'smeac' %}
                {% call_method field "html_header" "<th{attrs}><div class=\"text\"> {label}</div></th>"%}
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for form in listform %}
            {% if smeac != form.smeac.value %}
            <tr>
                <th colspan="{{listform.boundfieldlength}}">{{form.smeac}}</th>
            </tr>
            {% setvar form.smeac.value as smeac %}
            {% endif %}
            <tr> 
                {% for field in form.boundfields %}
                    {% if field.name == 'title' %}
                    {% call_method field "html" "<td{attrs} style='padding-left:30px'>{widget}</td>"%}
                    {% elif field.name != 'smeac' %}
                    {% call_method field "html" "<td{attrs}>{widget}</td>"%}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}

