{% extends "../change_form.html" %}
{% load i18n %}
{% load staticfiles admin_modify %}
{% comment%}
{% load admin_urls admin_list %}

{% endcomment%}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li>{{ title }}</li>
</ul>
{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/widgets.css" %}">

<style>
    div#id_pageerrors.error {
        background-color: #F2DEDE;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 1px;
        margin-bottom: 10px;
    }
    div.collapse textarea {
        width: 99%;
    }
    div.collapse {
        width: 99%;
    }
    hr.id_purposes_hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
{% endblock %}

{% block form_content %}
<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th class="cbas">Name *</th>
            <td colspan="3" class="cbas">{{ form.name }}
            </td>
        </tr>
        <tr>
            <th class="cbas" rowspan="2" style="width:20%">Planned burn <br>financial year *</th>
            <td class="cbas" rowspan="2" style="width:25%">{{ form.financial_year }}</td>
            <th class="cbas" style="width:20%">Last burnt season</th>
            <td class="cbas" style="width:35%">{{ form.last_season_unknown }}</td>
        </tr>
        <tr>
            <th class="cbas">Financial year</th>
            <td class="cbas">{{ form.last_year_unknown }}</td>
        </tr>
        <tr>
            <th class="cbas">Region *</th>
            <td class="cbas">{{ form.region }}</td>
            <th class="cbas">District *</th>
            <td class="cbas">{{ form.district }}
            </td>
        </tr>
        <tr>
            <th>Location *</th>
            <td colspan="3">{{ form.loc_locality }}</td>
        </tr>
        <tr>
            <th>Forest Blocks (if applicable)</th>
            <td colspan="3">{{ form.forest_blocks}}</td>
        </tr>
        <tr>
            <th>Overall Priority *</th>
            <td id="id_td_priority">{{ form.priority }}</td>
            <th>Overall Rationale *</th>
            <td id="id_td_rationale">{{ form.rationale }}</td>
        </tr>
        <tr>
            <th class="cbas">Contentious *</th>
            <td class="cbas" colspan="3">{{ form.contentious }}</td>
            </td>
        </tr>
        <tr>
            <th>Aircraft burn *</th>
            <td>{{ form.aircraft_burn }}</td>
            <th>Remote sensing priority *</th>
            <td>{{ form.remote_sensing_priority }}</td>
        </tr>
        <tr>
            <th>Burn Purpose(s) *</th>
            <td colspan="3">{{ form.purposes }}</td>
        <tr>
            <th>Estimate of the planned area<br>that will be treated (%) *</th>
            <td colspan="3">{{ form.treatment_percentage }}</td>
        </tr>
        <tr>
            <th>Planned Burn Area (ha) *</th>
            <td>{{ form.area }}</td>
            <th>Perimeter/Length (kms) *</th>
            <td>{{ form.perimeter }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
