
{% extends "../changelist.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'prescription:prescription_list' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'prescription:prescription_home' prescription.id %}">{{ prescription.burn_id }}</a> <span class="divider">/</span></li>
  <li><a href="% url 'report:prescription_pre_state_update' object.id %}">Part A</a> <span class="divider">/</span></li>
  <li>Section A4 &#x2010; Burn Priority Justification</li>
</ul>

{% endblock %}



{% block list_content%}
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th>Overall priority</th>
      <td>{{prescriptionform.priority}}</td>
    </tr>
    <tr>
      <th>Overall rationale</th>
      <td>{{prescriptionform.rationale}}</td>
    </tr>
  </tbody>
</table>
{{ block.super }}
{% endblock %}
