{% load staticfiles %}<!doctype html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{% block page_description %}{% endblock %}">
  <meta name="author" content="{% block page_author %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "css/tablecloth.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-multiselect.css" %}">

  <link rel="stylesheet" href="{% static "css/fonts.css" %}">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="{% static "pbs/css/styles.css" %}">
  <link rel="stylesheet" href="{% static "css/animate.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}favicon.ico"/>

  {% block fieldstyle %}
  {% for css in htmlmedia.render_css %}
  {{css}}
  {% endfor %}
  {% endblock %}

  {% block fieldstatements %}
  <script type="text/javascript">
    {% for statement in htmlmedia.render_statements %}
    {{statement}}
    {% endfor %}
  </script>
  {% endblock %}

  {% block extrastyle %}{% endblock %}

  {% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
  <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/fullcalendar.min.js' %}"></script>
  <script src="{% static 'js/gcal.js' %}"></script>
  <script src="{% static 'js/tasks.js' %}"></script>
  <script src="{% static 'js/jquery.metadata.js' %}"></script>
  <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
  <script src="{% static 'js/jquery.tablecloth.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
  <script src="{% static 'js/jquery.blockui.js' %}"></script>
  <script src="{% static 'js/bootstrap-growl.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>

  <script src="{% static 'pbs/js/is-number.js' %}" type="text/javascript"></script>

  {% block fieldjs %}
  {% for js in htmlmedia.render_js %}
  {{js}}
  {% endfor %}
  {% endblock %}

  {% block extrajs %}{% endblock %}
  <script>
      window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
      // fix standard addrelated popup closure
      var SelectBox = SelectBox || {
          add_to_cache: function() {},
          redisplay: function() { window.location.reload(true); }
      };
      $(function() {
          $("li.dropdown li.active").parents("li.dropdown").addClass("active");
          function textAreaAdjust(o) {
              o.target.style.height = "1.5em";
              if (o.target.scrollHeight > $(o.target).height()) {
                o.target.style.height = "1px";
                o.target.style.height = (25 + o.target.scrollHeight) + "px";
              }
          }
          //$("textarea").keyup(textAreaAdjust).keyup();
          $("body").on('keyup', 'textarea', textAreaAdjust);
          $("body textarea").keyup();

          // Check browser features/version (below test fails on firefox 3.6/ie8)
          // May need subcheck for mobile browsers?
          /*var testEl = $("div.unsupported").show();
          var viewport = $(window);
          testEl.css({
            width: "100vw"
          });
          var difference = testEl.width() - viewport.width();
          if (Math.round(difference) == 0 || window.indexedDB) {
             $("div.unsupported").hide();
          } else {
             $("div.unsupported").show();
          };*/
      });
  </script>
  {% block extrahead %}{% endblock %}

</head>
{% load i18n %}
{% load pbs_utils %}
{% url 'prescription:prescription_list' as prescriptionlisturl %}
{% url 'prescription:prescription_create' as prescriptioncreateurl %}
{% url 'report:prescription_pre_state_update' prescription.id as partaurl %}
{% url 'report:prescription_day_state_update' prescription.id as partburl %}
{% url 'report:prescription_post_state_update' prescription.id as partcurl %}
{% url 'prescription:prescription_update' prescription.id as sectiona1url %}
{% url 'risk:context_update' prescription.id as sectiona2url %}
{% url 'prescription:prescription_home' prescription.id as overviewurl %}
{% url 'stakeholder:criticalstakeholder_changelist' prescription.id as criticalstakeholdersurl %}
{% url 'prescription:prescription_objective_changelist' prescription.id as objectivesurl %}
{% url 'prescription:prescription_successcriteria_changelist' prescription.id as successcriteriaurl %}
{% url 'prescription:prescription_priorityjustification_changelist' prescription.id as priorityjustificationurl %}
{% url 'risk:prescription_complexity_changelist' prescription.id as complexityurl %}
{% url 'risk:prescription_register_changelist' prescription.id as registerurl %}
{% url 'implementation:prescription_operationaloverview_update' prescription.id as operationoverviewurl %}
{% url 'risk:prescription_action_changelist' prescription.id as actionsurl %}
{% url 'risk:prescription_preburn_action_changelist' prescription.id as preburnactionsurl %}
{% url 'risk:prescription_dayofburn_action_changelist' prescription.id as dayofburnactionsurl %}
{% url 'risk:prescription_postburn_action_changelist' prescription.id as postburnactionsurl %}
{% url 'document:prescription_taggeddocument_list' prescription.id 198 as sectionb3inspectionurl %}
{% url 'document:prescription_taggeddocument_list' prescription.id 183 as sectionb9url %}
{% url 'document:prescription_taggeddocument_list' prescription.id 168 as sectionb10url %}
{% url 'document:prescription_taggeddocument_list' prescription.id 181 as orgstructureurl %}
{% url 'document:prescription_document_list' prescription.id as documentsurl %}
{% url 'stakeholder:prescription_notification_changelist' prescription.id as notificationsurl %}
{% url 'stakeholder:prescription_publiccontact_changelist' prescription.id as publiccontactsurl %}
{% url 'implementation:prescription_roadsegment_changelist' prescription.id as sectionb3roadsurl %}
{% url 'implementation:prescription_trailsegment_changelist' prescription.id as sectionb3trailsurl %}
{% url 'implementation:prescription_burningprescription_list' prescription.id as burningprescriptionurl %}
{% url 'implementation:prescription_edgingplan_list' prescription.id as edgingplanurl %}
{% url 'implementation:prescription_exclusionarea_changelist' prescription.id as exclusionareaurl %}
{% url 'implementation:prescription_lightingsequence_list' prescription.id as lightingsequenceurl %}
{% url 'risk:prescription_contingency_list' prescription.id as contingencyurl %}
{% url 'prescription:prescription_briefingchecklist_list' prescription.id as briefingchecklisturl %}
{% url 'report:prescription_areaachievement_changelist' prescription.id as areaachievementurl %}
{% block body %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" style={% page_background %}>
{% if not is_popup %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    {% if not user.is_anonymous %}
    {% block topnavbar_content %}
    <div class="container">
      {% if prescription %}
      <ul class="nav">
        <li><a href="#"><b>{{ prescription.burn_id }}</b> - {{ prescription.name }} ({{ prescription.season }})</a></li>
        <li><a {% if request.path == sitemap %} class="top-header-active"{% endif %}href="{{ sitemap }}">Sitemap</a></li>
      </ul>
      {% endif %}
      <div id="first-nav" class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav pull-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {% trans 'Welcome,' %}
              <strong>{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}</strong>.
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            {% block userlinks %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
              <li><a href="{{ docsroot }}">{% trans 'Help' %}</a></li>
            {% endif %}
            {% if perms.auth.change_user %}
              <li><a href="#">Manage Users</a></li>
            {% endif %}
            {% if perms.prescription.change_regionalobjective %}
              <li><a href="#">Manage RFMPs</a></li>
            {% endif %}
            {% if user.profile.is_fpc_user and password_change %}
              <li><a href="#">{% trans 'Change password' %}</a></li>
            {% endif %}
              <li><a href="#">{% trans 'Log out' %}</a></li>
            {% endblock %}
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
        {% block nav-global %}{% endblock %}
        {% if user.is_active %}
          <li><a href="#">Home Location:
            {% if request.user.profile.region and request.user.profile.district %}
              <b>{{ request.user.profile.region }}, {{ request.user.profile.district }}</b>
            {% elif request.user.profile.region and not request.user.profile.district %}
              <b>{{ request.user.profile.region }}</b>
            {% elif not request.user.profile.region and request.user.profile.district %}
              <b>{{ request.user.profile.district }}</b>
            {% else %}
              Click to set.
            {% endif %}
          </a></li>
        {% endif %}
        </ul>
      </div>
    </div>
    {% endblock topnavbar_content %}
    {% endif %}
  </div>
</div>
<div class="topmast">
  <div class="container">
    <div class="masthead">
      <div class="row-fluid">
        <div class="span8">
          <div class="agency-freespace">
            <a class="brand pull-left">
              <img src="{% static 'pbs/img/waTextBlack_80-bluebg.gif' %}" alt="Government of Western Australia" />
            </a>
            <h1 id="site-title" class="site-logo pull-left">
                <img src="{% static 'pbs/img/logo-dpaw.gif' %}" alt="Department of Parks and Wildlife" />
                Department of <br><strong>Parks and Wildlife</strong>
            </h1>
          </div>
        </div>
        {% block topsearch %}
        <div class="span4 topsearch hidden-phone text-right">
           <div class="hidden-phone">
             <form action="#" method="get" class="inline">
               <div class="search input">
                 <input name="q" id="mod-search-searchword" maxlength="20" class="input-large" type="text" size="20" placeholder="Search burn ID or name..." />
               </div>
             </form>
           </div>
        </div>
        {% endblock topsearch %}
      </div>
    </div>
  </div>
</div>
{% if not user.is_anonymous %}
{% block navigation %}
<div class="navbar" id="mainnav">
  <div class="container">
    <div class="pull-left visible-phone pad-5">
      <form action="#" method="get" class="inline">
        <div class="search visible-phone form-search input">
          <input name="q" id="mod-search-searchword" maxlength="20" class="input-medium" type="text" size="30" value="Search..."  onblur="if (this.value=='') this.value='Search...';" onfocus="if (this.value=='Search...') this.value='';" />
        </div>
      </form>
    </div>
    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar btn-inverse">
      <i class="icon-menu"></i> Menu
    </a>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target="#second-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="second-nav" class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
              <li{% if request.path == prescriptionlisturl %} class="active"{% endif %}><a href="{{ prescriptionlisturl }}{% if request.user.profile.region %}?region__id__exact={{ request.user.profile.region.id }}{% endif %}"><i class="icon-fire"></i> Regional Overview</a></li>
              <li{% if request.path == prescriptioncreateurl %} class="active"{% endif %}><a href="{{ prescriptioncreateurl }}"><i class="icon-plus"></i> Create Prescribed Burn</a></li>
              <li{% if request.path == "" %} class="active"{% endif %}><a href="{{ endorse_authorise_summary }}"><i class="icon-dashboard"></i> Endorse/Authorise Summary</a></li>
              <li{% if request.path == "" %} class="active"{% endif %}><a href="{{ epfp_review_summary }}"><i class="icon-dashboard"></i> Day of Burn ePFP review</a></li>
              <li{% if request.path == "" %} class="active"{% endif %}><a href="{{ daily_burn_program }}"><i class="icon-dashboard"></i> Daily Burn Program</a></li>
              {% if prescription %}
            </ul>
            <ul class="nav pull-right">
              <li{% if request.path == overviewurl %} class="active"{% endif %}><a href="{{ overviewurl }}">
                  ePFP overview</a></li>
              <li id="summary-dropdown" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="label {% if prescription.pre_state.finished %}label-success{% else %}label-important{% endif %}">{{ prescription.pre_state.complete }}/{{ prescription.pre_state.total }}</span>
                  Part A
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li{% if request.path == partaurl %} class="active"{% endif %}><a href="{{ partaurl }}">Part A Summary</a></li>
                  <li{% if request.path == sectiona1url %} class="active"{% endif %}><a href="{{ sectiona1url }}">A1 - Summary &amp; Approval</a></li>
                  <li{% if request.path == sectiona2url %} class="active"{% endif %}><a href="{{ sectiona2url }}">A2 - Context Statement</a></li>
                  <li{% if request.path == criticalstakeholdersurl %} class="active"{% endif %}><a href="{{ criticalstakeholdersurl }}">A2 - Critical Stakeholders</a></li>
                  <li{% if request.path == objectivesurl %} class="active"{% endif %}><a href="{{ objectivesurl }}">A3 - Burn Objectives</a></li>
                  <li{% if request.path == successcriteriaurl %} class="active"{% endif %}><a href="{{ successcriteriaurl }}">A3 - Success Criteria</a></li>
                  <li{% if request.path == priorityjustificationurl %} class="active"{% endif %}><a href="{{ priorityjustificationurl }}">A4 - Priority Justification</a></li>
                  <li{% if request.path == complexityurl %} class="active"{% endif %}><a href="{{ complexityurl }}">A5 - Complexity Analysis</a></li>
                  <li{% if request.path == registerurl %} class="active"{% endif %}><a href="{{ registerurl }}">A6 - Risk Register</a></li>
                </ul>
              </li>
              <li id="implementation-dropdown" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="label {% if prescription.day_state.finished %}label-success{% else %}label-important{% endif %}">{{ prescription.day_state.complete }}/{{ prescription.day_state.total }}</span>
                  Part B
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li{% if request.path == partburl %} class="active"{% endif %}><a href="{{ partburl }}">Part B Summary</a></li>
                  <li{% if request.get_full_path == operationoverviewurl %} class="active"{% endif %}><a href="{{ operationoverviewurl }}">B1 - Operational Overview</a></li>
                  <li{% if request.get_full_path == actionsurl %} class="active"{% endif %}><a href="{{ actionsurl }}">B1 - Plan Actions</a></li>
                  <li{% if request.get_full_path == preburnactionsurl %} class="active"{% endif %}><a href="{{ preburnactionsurl }}">B1 - Pre-burn actions</a></li>
                  <li{% if request.get_full_path == dayofburnactionsurl %} class="active"{% endif %}><a href="{{ dayofburnactionsurl }}">B2 - Day of burn actions</a></li>
                  <li{% if request.path == sectionb3roadsurl %} class="active"{% endif %}><a href="{{ sectionb3roadsurl }}">B3 - Roads</a></li>
                  <li{% if request.path == sectionb3trailsurl %} class="active"{% endif %}><a href="{{ sectionb3trailsurl }}">B3 - Tracks and Trails</a></li>
                  <li{% if request.path == sectionb3inspectionurl %} class="active"{% endif %}><a href="{{ sectionb3inspectionurl }}">B3 - Sign Inspection & Surveillance</a></li>
                  <li{% if request.path == burningprescriptionurl %} class="active"{% endif %}><a href="{{ burningprescriptionurl }}">B5 - Burning Prescription</a></li>
                  <li{% if request.path == edgingplanurl %} class="active"{% endif %}><a href="{{ edgingplanurl }}">B5 - Edging Plan</a></li>
                  <li{% if request.path == lightingsequenceurl%} class="active"{% endif %}><a href="{{ lightingsequenceurl }}">B5 - Lighting Sequence</a></li>
                  <li{% if request.path == exclusionareaurl %} class="active"{% endif %}><a href="{{ exclusionareaurl }}">B5 - Areas to be Excluded from ignition</a></li>
                  <li{% if request.path == contingencyurl %} class="active"{% endif %}><a href="{{ contingencyurl }}">B6 - Contingency Plan</a></li>
                  <li{% if request.path == orgstructureurl %} class="active"{% endif %}><a href="{{ orgstructureurl }}">B7 - Organisational Structure</a></li>
                  <li{% if request.path == briefingchecklisturl %} class="active"{% endif %}><a href="{{ briefingchecklisturl }}" >B8 - Briefing Checklist (SMEACS)</a></li>
                  <li{% if request.path == sectionb9url %} class="active"{% endif %}><a href="{{ sectionb9url }}">B9 - Operations Officer's Day of Burn Checklist</a></li>
                  <li{% if request.path == sectionb10url %} class="active"{% endif %}><a href="{{ sectionb10url }}">B10 - Fire and Weather Observations</a></li>
                  <li{% if request.path == areaachievementurl %} class="active"{% endif %}><a href="{{ areaachievementurl }}">B11 - DoB achievement update</a></li>
                </ul>
              </li>
              <li id="closure-dropdown" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="label {% if prescription.post_state.finished %}label-success{% else %}label-important{% endif %}">{{ prescription.post_state.complete }}/{{ prescription.post_state.total }}</span>
                  Part C
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li{% if request.path == partcurl %} class="active"{% endif %}><a href="{{ partcurl }}">Part C Summary</a></li>
                  <li{% if request.get_full_path == postburnactionsurl %} class="active"{% endif %}><a href="{{ postburnactionsurl }}">C1 - Post burn actions</a></li>
                  <li{% if request.path == evaluation %} class="active"{% endif %}><a href="{{ evaluation }}">C2 - Burn evaluation summary</a></li>
                  <li{% if request.path == proposed_action %} class="active"{% endif %}><a href="{{ proposed_action }}">C3 - Lessons learned</a></li>
                  <li{% if request.path == post_burn_checklist %} class="active"{% endif %}><a href="{{ post_burn_checklist }}">C4 - Post burn checklist</a></li>
                  <li{% if request.path == burn_closure %} class="active"{% endif %}{% if not prescription.can_close or prescription.status == prescription.STATUS_CLOSED %} class="disabled"{% endif %}><a href="{% if prescription.can_close and prescription.status != prescription.STATUS_CLOSED %}{% url 'admin:prescription_prescription_close' prescription.pk %}{% else %}javascript:void(0);{% endif %}">{% if prescription.can_close %}{% if prescription.status == prescription.STATUS_CLOSED %}Burn closed{% else %}Close this burn{% endif %}{% else %}Burn closure unavailable{% endif %}</a></li>
                </ul>
              </li>
              <li id="document-dropdown" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Part D<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li{% if request.path == documentsurl %} class="active"{% endif %}><a href="{{ documentsurl }}">Documents</a></li>
                  <li{% if request.path == notificationsurl %} class="active"{% endif %}><a href="{{ notificationsurl }}">D1 - Notifications</a></li>
                  <li{% if request.path == publiccontactsurl %} class="active"{% endif %}><a href="{{ publiccontactsurl }}">D2 - Public Contacts</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock navigation%}
{% endif %}
{% endif %}

<div class="page">
  <div class="page-container">
    <div class="container">
    {% block header %}
    {% endblock %}
    {% if not is_popup %}{% block breadcrumbs %}{% endblock %}{% endif %}
    {% block contentwrapper %}
    {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<footer class="footer">
  <div class="container">
      <div class="row">
    <div class="span6">
        <p>Version: {{ application_version_no }}</p>
    </div>
    <div class="span6">
        <p class="pull-right">&copy; 2015 Department of Parks and Wildlife</p>
    </div>
    </div>
  </div>
</footer>

<script>

// clear the cookie token on page load
$(document).ready(function() {
   $.cookie('fileDownloadToken', null, { path: '/' }); //clears this cookie value
   $.removeCookie('fileDownloadToken'); //clears this cookie value
});

$('.file-download').on('click', function(e) {
    var id = e.target.id

    href = this.href; // initialising var
    //var href = $('#'+id).href; // initialising var
    var origHref_fd1 = $('#fd1').attr('href');
    var origUrl_fd1 = $('#fd1').html();

    var origHref_fd2 = $('#fd2').attr('href');
    var origUrl_fd2 = $('#fd2').html();

    var origCol = $('#'+id).css('color');
    var text = $('#'+id).text();
    var txtMsg = '. Downloading ...';

    // set new msg
    //console.log('text' + text)
    if ( $('.file-download').text().indexOf(txtMsg) < 0 ) { // do once - check txtMsg not present in text
      $('#'+id).append(txtMsg).css('color', 'red');;

      blockUIForDownload(id);
      // diable the URL link
      e.preventDefault(); //disabling default behaviour
      if (this.href) //checking if href attr is stil set
      {
          href = this.href; //saving current href for it will be removed
          $('.file-download').removeAttr("href"); //removing href
          window.location.href = href; //redirecting user to href
      }
    }


    var fileDownloadCheckTimer;
    function blockUIForDownload(id) {
      var token = '_token';
      //$.blockUI(); //this will block/unblock entire page

      fileDownloadCheckTimer = window.setInterval(function () {
        var cookieValue = $.cookie('fileDownloadToken');
        if (cookieValue == token)
          finishDownload(id);
      }, 1000);
    }

    function finishDownload(id) {
     window.clearInterval(fileDownloadCheckTimer);
     $.cookie('fileDownloadToken', null, { path: '/' }); //clears this cookie value
     $.removeCookie('fileDownloadToken'); //clears this cookie value
     $('#fd1').attr("href", origHref_fd1);  // re-assign the url link
     $('#fd1').html(origUrl_fd1).css('color', origCol);
     $('#fd2').attr("href", origHref_fd2);  // re-assign the url link
     $('#fd2').html(origUrl_fd2).css('color', origCol);
     //$.unblockUI(); //this will block/unblock entire page
    }
});

</script>

{% endblock %}

</body>
</html>
