{% extends "base_site.html" %}
{% load i18n %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div>

{% include "includes/formerrors.html" %}

<div class="row">
<div class="span12">
<form action="" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
    {% if nexturl %}
    <input type="hidden" name="nexturl" value="{{nexturl}}">
    {% endif %}
    {% block form_content%}
    <table class="table">
        <tbody>
        {% for field in form.boundfields%}
            <tr>
                <th>{{field.label}}</th>
                <td>{{field}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <p class="pull-right">
            {% for button in form.buttons %}
                {{ button.widget.html }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
</form>
{% block extra_content%}
{% endblock %}
</div>
</div>
</div>
{% endblock %}
