{% load pbs_utils %}

<span class="action-counter" id="total_{{listform.model_name_lower}}_selected"><span id="total_{{listform.model_name_lower}}_selected_count">0</span> of {{object_list|length}} selected</span>

{% if object_list|length < paginator.count %}
<span class="all" style="display: none;" id="all_{{listform.model_name_lower}}_selected">All {{paginator.count}} selected</span>
<span class="question" style="display: none;" id="select_all_{{listform.model_name_lower}}">
    <a href="javascript:{{listform.model_name_lower}}_selector.select_all();" title="Click here to select the objects across all pages">Select all {{paginator.count}} {{listform.model_verbose_name}}</a>
</span>
<span class="clear" style="display: none;" id="clean_{{listform.model_name_lower}}_selection"><a href="javascript:{{listform.model_name_lower}}_selector.clean();">Clear selection</a></span>
<input type="hidden" name="select_all" value="true" id="{{listform.model_name_lower}}_select_all" disabled>

{% for field in filterform %}
    {% call_method field "html" template="" method="as_hidden" %}
{% endfor %}

{% endif %}

<script type="text/javascript">
    var {{listform.model_name_lower}}_selector = null;
    $(document).ready(function() {
        {{listform.model_name_lower}}_selector = new ListSelector("{{listform.model_name_lower}}",{{object_list|length}},{{paginator.count}})
    })
</script>
