{% extends "../list_2panels.html" %}
{% load i18n %}
{% load pbs_utils %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'prescription:prescription_list' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'prescription:prescription_home' prescription.id %}">{{prescription.burn_id}}</a> <span class="divider">/</span></li>
  <li><a href="">Document</a> <span class="divider">/</span></li>
  {% if tag %}
  <li>{{tag.name}}</li>
  {% endif %}
</ul>
{% endblock %}

{% block content_title %}
<h1>{{ title }}
    <div class="pull-right">
        <a class="btn btn-small btn-info" href="{% url 'document:prescription_document_add' prescription.id %}?nexturl={{listform.fullpath}}">
            <i class="icon-plus icon-white"></i> Add document
        </a>
    </div>
</h1>
{% endblock %}


{% block rightpanel %}
<div class="span3">
  <h5>Filter</h5>
    <form id="changelist-search" action="" method="get">
        {% for field in filterform %}
            {% if not field.is_hidden or field.hascleanvalue %}
                {% call_method field "html"  %}
            {% endif %}
        {% endfor %}
    </form>
  {% url 'document:prescription_document_list' prescription.id as documenturl %}
  {% setvar filterform.document_archived.cleanvalue as document_archived %}
  {% call_method listform "get_querystring" "document_archived" as querystring %}
  <ul class="nav nav-list">
    <li class="nav-header">BY ARCHIVED DOCUMENT</li>
    <li {% if document_archived is None %}class="active"{% endif %}><a href="{{documenturl}}{{querystring}}">All</a></li>
    {% for option in archivestatuslist %}
    <li  {% if document_archived == option.0 %}class="active"{% endif %}><a href="{{documenturl}}{% addurlparameter querystring "document_archived" option.0|urlencode %}">{{option.1}}</a></li>
    {% endfor %}
  </ul>

  <br>
  {% setvar filterform.categoryid.cleanvalue as categoryid %}
  {% call_method listform "get_querystring" "categoryid" as querystring %}
  <ul class="nav nav-list">
    <li class="nav-header">BY CATEGORY</li>
    <li {% if categoryid is None %}class="active"{% endif %}><a href="{{documenturl}}{{querystring}}">All</a></li>
    {% for option in categorylist %}
    <li  {% if categoryid == option.0 %}class="active"{% endif %}><a href="{{documenturl}}{% addurlparameter querystring "categoryid" option.0|urlencode %}">{{option.1}}</a></li>
    {% endfor %}
  </ul>

  <br>
  {% setvar filterform.modifiedrange.cleanvalue as modified %}
  {% call_method listform "get_querystring" "modifiedrange" as querystring %}
  <ul class="nav nav-list">
    <li class="nav-header">BY MODIFIED</li>
    <li {% if modified is None %}class="active"{% endif %}><a href="{{documenturl}}{{querystring}}">All</a></li>
    {% for option in modifiedlist %}
    <li  {% if modified == option.0 %}class="active"{% endif %}><a href="{{documenturl}}{% addurlparameter querystring "modifiedrange" option.0|urlencode %}">{{option.1}}</a></li>
    {% endfor %}
  </ul>

  <br>
  {% setvar filterform.modifierid.cleanvalue as modifierid %}
  {% call_method listform "get_querystring" "modifierid" as querystring %}
  <ul class="nav nav-list">
    <li class="nav-header">BY MODIFIER</li>
    <li {% if modifierid is None %}class="active"{% endif %}><a href="{{documenturl}}{{querystring}}">All</a></li>
    {% for option in modifierlist %}
    <li  {% if modifierid == option.id %}class="active"{% endif %}><a href="{{documenturl}}{% addurlparameter querystring "modifierid" option.id|urlencode %}">{{option.username}}</a></li>
    {% endfor %}
  </ul>

</div>
{% endblock %}

